body {
    margin: 0 auto;
    font-size: 10em;
}

* {
    box-sizing: border-box;
    margin: 0 auto;
    background-color: black;
    color: #fff;
}

section#tresc{
    position: relative;
}

div {
    position: absolute;
    top: 0;  
    opacity: 0;
}

#dziesiec {
    opacity: 0;
}

#dziewiec {
    opacity: 0;
}

#osiem {
    opacity: 0;
}

#siedem {
    opacity: 0;
}

#szesc {
    opacity: 0;
}

#piec {
    opacity: 0;
}

#cztery {
    opacity: 0;
}

#trzy {
    opacity: 0;
}

#dwa {
    opacity: 0;
}

#jeden {
    opacity: 1;
}

