body {
    margin: 0 auto;
    font-size: 10em;
}

* {
    box-sizing: border-box;
    margin: 0 auto;
    background-color: black;
    color: #fff;
}

section#tresc {
    position: relative;
}

section#tresc div {
    position: absolute;
    top: 0;
    opacity: 0;
    animation-name: licznik;
    animation-duration: 1s;
}

#dziesiec {
    animation-duration: 1s;
}

#dziewiec {
    animation-delay: 1s;
}

#osiem {
    animation-delay: 2s;
}

#siedem {
    animation-delay: 3s;
}

#szesc {
    animation-delay: 4s;
}

#piec {
    animation-delay: 5s;
}

#cztery {
    animation-delay: 6s;
}

#trzy {
    animation-delay: 7s;
}

#dwa {
    animation-delay: 8s;
}

#jeden {
    animation-delay: 9s;
}

#tekst {
    animation-delay: 10s;
}

@keyframes licznik {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}